@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
.container {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FB8C00;
  color: white;
  
  
}
div {
  box-sizing: border-box;
 
}
.Row {
  display: flex;
  border-top: 1px solid #ffcdd2;
  box-sizing: border-box;
}
.Tile {
  border-left: 1px solid #ffcdd2;
}
.Tile:nth-child(4n){
  border-right: 1px solid #ffcdd2;
}
.Row:nth-child(4){
  border-bottom: 1px solid #ffcdd2;
}
.Score {
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
  line-height: 60px;
  font-size: 25px;
  width: 300px;
  height: 60px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Score > div {
  width: 100%;
  height: 25%;
}

.Board {
  overflow: hidden;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 5px #222;
  background: #ffebee;
}
.Tile {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  background-color: #DD2C00;
}
.size-0, .size-2, .size-4, .size-8, .size-16, .size-32, .size-64, .size-128, .size-256, .size-512 {
  font-size: 40px;
}
.size-0 {
  background: #ffebee;
}
.size-2 {
  background: #F81B3E;
}
.size-4 {
  background: #D90022;
}
.size-8 {
  background: #A9001B;
}
.size-16 {
  background: #FF9D5A;
}
.size-32 {
  background: #FE6700;
}
.size-64 {
  background: #C85100;
}
.size-128 {
  background: #DF2774;
}
.size-256 {
  background: #AA0048;
}
.size-512 {
  background: #850038;
}
.size-1024 {
  background: #FFC107;
}
.size-2048 {
  background: #FF3D00;
}
.control-container {
  margin-top: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.btn-key {
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  border: 5px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}
.btn-info {
  margin-top: 5px;
  text-align: center;
}
.info {
  width: 300px;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 300;
}
@media (max-width: 400px){
  .container {
    justify-content: space-between;
  }
  .control-container, .info {
    display: none;
  }
  .Tile {
    width: 25vw;
    height: 25vw;
    line-height: 25vw;
    font-size: 12vw;
    /* border: 1px solid lightcoral; */
  }
  
}